/* Global Rules */
:root {
  --bg-color-slate: hsl(212, 45%, 89%);
  --bg-color-white: hsl(0, 0%, 100%);
  --primary-font-family: "Outfit", sans-serif;
  --primary-font-size-paragraph: 15px;
  --primary-font-weight: 400;
  --secondary-font-weight: 700;
  --primary-color-slate: hsl(218, 25%, 30%);
  --secondary-color-slate: hsl(216, 15%, 48%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--bg-color-slate);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: var(--primary-font-family);
  font-size: 0.8rem;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: var(--secondary-font-weight);
  color: var(--primary-color-slate);
}

img {
  display: block;
  margin: auto;
  max-width: 98%;
  height: auto;
  border-radius: 10px;
}
/* End Global Rules */

/* Start QR Code Component */
.qr-container {
  width: 20%;
  height: auto;
  padding: 15px;
  border-radius: 15px;
  background-color: var(--bg-color-white);
}

p {
  font-size: var(--primary-font-size-paragraph);
  font-weight: var(--primary-font-weight);
  margin: 0;
  padding: 15px 0;
  color: var(--secondary-color-slate);
}

section {
  padding: 10px;
  text-align: center;
}

h1 {
  padding: 0;
}